<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Warmup/Aula5_Warmup_Solucoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 5 - Warmup de Introdução ao Pandas

### Treinando conceitos de Pandas e Series

In [ ]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

#### W5.1 Crie um objeto Series contendo os seguintes elementos [4, 7, -5, 3]

In [ ]:
# Faça aqui

#### W5.2 Crie um objeto Series contendo [4, 7, -5, 3] e defina seu próprio array de índices como sendo ['d', 'b', 'a', 'c']

In [ ]:
# Faça aqui

#### W5.3 Use o índice para acessar o valor 4 do objeto Series criado no exercicio W5.1

In [ ]:
# Faça aqui

#### W5.4 Use o índice para acessar os valores 7 e 3 do objeto Series criado no exercicio W5.1

In [ ]:
# Faça aqui

#### W5.5 Atribua o valor 6 ao elemento de índice d

In [ ]:
# Faça aqui

#### W5.6 Verifique se o índice 'c' está presente na Serie criada no exercício W5.1

In [ ]:
# Faça aqui

#### W5.7 Verifique se o índice 'e' está presente na Serie criada no exercício W5.1

In [ ]:
# Faça aqui

#### W5.8 Retorne os elementos da Series abaixo cujo valor seja maior que 0

In [ ]:
# Considere a seguinte serie
obj2 = pd.Series([0, 7, -5, 3, 2, 5, -15], index=['d', 'b', 'a', 'c', 'd', 'e', 'f'])
# Faça aqui

#### W5.9 Retorne os valores da Serie obj2 (exercício W5.8) multiplicados por 2

In [ ]:
# Faça aqui

#### W5.10 Retorne os valores da aplicação da função exponencial (np.exp) a Serie obj2 (exercício W5.8)

In [ ]:
# Faça aqui

#### W5.11 Criando uma Serie com um dicionário. Chame a Serie de obj3.

In [ ]:
# Crie uma série com o seguinte dicionário
# {'carro': 350, 'moto': 750, 'bicicleta': 260, 'caminhao': 500, 'trem': np.nan, 'aviao': np.nan}
# Chame a Serie de obj3
# Faça aqui

### Treinando conceitos de Valores Ausentes/Indisponíveis (NA)

#### W5.12 Retorne, na forma de uma serie de booleanos, quais elementos da Serie obj3 tem valores NA

In [ ]:
# Faça aqui

#### W5.13 Retorne, na forma de uma serie de booleanos, quais elementos da Serie obj3 não tem valores NA

In [ ]:
# Faça aqui

#### W5.14 Retorne os valores não nulos (diferentes de NA) da serie obj3

In [ ]:
# Faça aqui

#### W5.15 Remova os elementos de valor NA da serie obj3

In [ ]:
# Faça aqui

### Treinando Aritmética com Series

#### W5.16 Crie a série abaixo

In [ ]:
# Crie uma série com o seguinte dicionário
# {'carro': 50, 'moto': 150, 'bicicleta': 200, 'caminhao': np.nan, 'trem': 10, 'aviao': 20}
# Chame a Serie de obj4
# Faça aqui

#### W5.17 Some as séries criadas nos dois exercícios anteriores (obj3 e obj4)

In [ ]:
# Faça aqui

## Treinando conceitos sobre DataFrames

#### W5.18 Crie um data frame a partir dos dados do seguinte dicionário. Chame-o de frame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
# Faça aqui

#### W5.19 Mostre as primeiras linhas do dataframe frame

In [ ]:
# Acesse as primeiras linhas do dataframe frame
# Faça aqui

#### Acesse a coluna state usando a sintaxe com colchetes

In [ ]:
# Faça aqui

#### W5.20 Atribua o valor 16.5 para todas as posições de uma nova coluna chamada debt.

In [ ]:
# Faça aqui

#### W5.21 Atribua o valor do intervalo de 0 a 5 (float) na coluna debt.
#### Dica: use a função np.arange

In [ ]:
# Faça aqui

#### W5.22 Crie uma nova coluna chamada eastern com o valor True para as linhas cujo estado seja Ohio, e False caso contrário.

In [ ]:
# Faça aqui

#### W5.23 Delete a coluna eastern usando o comando del

In [ ]:
# Faça aqui

#### W5.24 Crie um DataFrame a partir de um dicionário de dicionários. Chame-o de frame3.

In [ ]:
# Crie um Dataframe a partir do seguinte dicionário:
pop = {'DF': {2001: 2.7, 2002: 2.8},
        'GO': {2000: 1.2, 2001: 1.7, 2002: 2.6}}
# Faça aqui

#### W5.25 Retorne somente os valores do dicionário frame3.
#### Dica use o atributo values.

In [ ]:
# Faça aqui

#### W5.26 Remova os valores de uma Serie conforme especificado a seguir.

In [ ]:
# Considere a Serie abaixo
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
# Crie um novo objeto removendo o item de índice c
# Faça aqui

In [ ]:
# Retorne uma serie sem os itens c e d
# Faça aqui

#### W5.27 Removendo entradas de um DataFrame conforme especificado a seguir.

In [ ]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['DF', 'GO', 'SP', 'RJ'],
                    columns=['um', 'dois', 'tres', 'quatro'])
data

In [ ]:
# Retorne um dataframe sem as linhas DF e GO
# Faça aqui

In [ ]:
# Remova a coluna tres do dataframe data. Dica: use o argumento axis do método drop.
# Faça aqui

#### W5.28 Realize as operações solicitadas a seguir

In [ ]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['DF', 'GO', 'SP', 'RJ'],
                    columns=['um', 'dois', 'tres', 'quatro'])
data

In [ ]:
# Retorne um dataframe contendo True para itens menores que 5, e False caso contrário
# Faça aqui

In [ ]:
# Atribua o valor zero onde os valores do dataframe são menores que 5
# Faça aqui

### Treinando Filtro e Seleção num dataframe
#### W5.29 Execute as instruções solicitadas a seguir.

In [ ]:
# Selecione as colunas um e dois do dataframe data
# Faça aqui

In [ ]:
# Retorne as linhas do dataframe data cujo valor da coluna tres seja maior que 5
# Faça aqui

### Treinando seleção com os operadores loc e iloc
#### W5.30 Execute as instruções solicitadas a seguir.

In [ ]:
# Retorne o subconjunto especificado pela linha DF e colunas dois e tres
# Faça aqui

In [ ]:
# Utilizando o iloc, retorne o subconjunto especificado pela linha 2 e colunas 3, 0 e 1
# Faça aqui