## Aula 8 - Teoria - Datetime e Regex

In [7]:
import pandas as pd
import numpy as np

### Datetime em Python

In [ ]:
from datetime import datetime # Esta biblioteca python realiza diversas operações com datas

In [ ]:
# Criar data a partir dos números do ano, dia e mês
datetime(2020, 5, 17)

In [ ]:
# Crie um objeto datetime a partir da data '18/09/19 01:55:19' usando o método strptime
datetime.strptime('18/09/19 01:55:19', '%d/%m/%y %H:%M:%S')

In [ ]:
# Crie novamente o mesmo objeto datetime criado acima, desta vez guardando-o numa variavel d
d = datetime.strptime('18/09/19 01:55:19', '%d/%m/%y %H:%M:%S')
# Converta o datetime guardado em d para um string ANO-MÊS-DIA
d.strftime('%Y-%m-%d')

In [ ]:
#Datetime de agora
datetime.now()

In [ ]:
# Imprima o ano armazenado na variável datetime d
print(d.day, d.month, d.year, d.hour, d.minute)

In [ ]:
# Dia da semana
d.weekday()

In [ ]:
#timedelta  (intervalo de tempo)
from datetime import timedelta
d = timedelta(weeks=2)
d

In [ ]:
#Aritmética de datas
datetime.now() + timedelta(days=15)

In [ ]:
#Subtração
date1 = datetime(2021, 5, 21, 18, 25, 30)
date2 = datetime(2021, 5, 16, 8, 21, 10)
date1 - date2

In [ ]:
long_month_name = "February, 10, 2021"
datetime_object = datetime.strptime(long_month_name, "%B, %d, %Y")
datetime_object

In [4]:
import locale
# Mostra o locale corrente (atual)

locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
locale.getlocale()

('pt_BR', 'UTF-8')

### Manipulação de Datas com Pandas

#### Amostras de datas em Intervalos fixos

In [ ]:
pd.date_range("2018-01-01", periods=3, freq="H")

In [10]:
# Criar uma série que contenha numeros sequenciais 
# e um índice com datas datas
idx = pd.date_range("2018-01-01", periods=10, freq="H")
ts = pd.DataFrame(range(len(idx)), index=idx)
ts.reset_index()

                index  0
0 2018-01-01 00:00:00  0
1 2018-01-01 01:00:00  1
2 2018-01-01 02:00:00  2
3 2018-01-01 03:00:00  3
4 2018-01-01 04:00:00  4
5 2018-01-01 05:00:00  5
6 2018-01-01 06:00:00  6
7 2018-01-01 07:00:00  7
8 2018-01-01 08:00:00  8
9 2018-01-01 09:00:00  9

#### Reamostrar uma Série temporal

In [ ]:
# Reamostrar os valores num intervalo de 2h, 
# aplicando a média como métrica da reamostragem
ts.resample("2H").mean()

#### String para Datetime com Pandas

In [ ]:
#Converter uma string
pd.to_datetime("2010/11/12", format="%Y/%m/%d")

In [ ]:
# Converter os valores de uma serie
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
pd.to_datetime(s, infer_datetime_format=True)

### Regex

In [ ]:
import re

In [ ]:
# Encontrar todos os termos de uma string que são compostos por letras
# ou números
g = re.findall('[a-zA-Z0-9]+',  'ABCDE2 2Fab.(cdef1 23 450 345#aaa')
g

In [ ]:
result1 = re.search('^\w+',  'teste 1')
print(result1)

In [ ]:
result2 = re.search('^\w+',  '#teste 2')
print(result2)

In [ ]:
# Criar uma função pra testar se uma string atende a uma regex
def test_regex(s):
    pat = '^\w+'
    if re.search(pat, s):
        return True
    else:
        return False

test_regex('#teste 2')

In [ ]:
# Construa uma série com o conteúdo ['foo', 'fuz', np.nan] e faça um replace com regex
# usando a expressão regular 'f.' substituindo por 'ba'. Use o parâmetro regex=True
pd.Series(['foo', 'fuz', np.nan]).str.replace('f.', 'ba', regex=True)

In [ ]:
# Construa uma série com o conteúdo ['f.o', 'fuz', np.nan] e faça um replace sem regex
# da string 'f.' substituindo por 'ba'. Use o parâmetro regex=False.
pd.Series(['f.o', 'fuz', np.nan]).str.replace('f.', 'ba', regex=False)

In [ ]:
# Considere a seguinte função lambda
repl = lambda m: m.group(0)[::-1]
# Construa uma série com o conteúdo ['foo 123', 'bar baz', np.nan] e faça um replace com
# regex usando a expressão regular '[a-z]+' substituindo pela função lambda definida acima. 
# Use o parâmetro regex=True.
pd.Series(['foo 123', 'bar baz', np.nan]).str.replace('[a-z]+', repl)

In [ ]:
path_gini = 'https://github.com/alexlopespereira/curso_ciencia_dados2020/raw/master/data/originais/gini/ginibr.csv'
df_gini = pd.read_csv(path_gini, sep=';', skiprows=2, skipfooter=2, encoding='utf8', engine='python', decimal=',', dtype={"1991": "str"})

In [ ]:
df_gini.head()

In [ ]:
# Perceba que as colunas 1991 e 2000 não tem o formato float
df_gini.info()

In [ ]:
result = df_gini['1991'].apply(lambda x: x if not re.search('-?[0-9]+(.|,)?[0-9]*', x) else np.nan)

In [ ]:
result.unique()

### Tratamento de Exceções em Python

In [ ]:
a = 0 / 0
print("Passou aqui")

In [ ]:
for i in range(0, 5):
    try:
        a = 1000/i
        print("resultado: {0}".format(i))
    except ZeroDivisionError as e:
        print(e)
        print("deu erro. i={0}".format(i))
        pass
    except Exeption as e2:
        print("faz outra coisa")
        pass