<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/Teoria/Aula5_Teoria_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 5 - Introdução ao Pandas

## Series

In [ ]:
# Importe a biblioteca pandas
import pandas as pd

### Crie um objeto Series

In [ ]:
# Crie uma Serie contendo os seguintes elementos [4, 7, -5, 3]
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
# Crie um objeto Series contendo [4, 7, -5, 3] e
#   defina seu próprio array de índices como sendo ['d', 'b', 'a', 'c']
obj2 = pd.Series([4, 7, -5, 3, 'a'], index=['d', 'b', 'a', 'c', 'f'])
obj2

d     4
b     7
a    -5
c     3
f     a
dtype: object

### Use o índice para acessar o valor

In [ ]:
# Retorne o elemento de índice a
obj2['a']

In [ ]:
# Atribua o valor 6 ao elemento de índice d
obj2['d'] = 6
obj2

In [ ]:
# Retorne os valores de índice 'c', 'a' e 'd'
obj2[['c', 'a', 'd']]

### Verificar se um elemento pertence a uma Serie

In [ ]:
# Verifique se o índice 'c' está presente
'c' in obj2

True

In [ ]:
# Verifique se o índice 'e' está presente na Serie criada no exercício anterior
'e' in obj2

### Use o operações semelhantes às operações NumPy

In [ ]:
# Considere a seguinte serie
obj2 = pd.Series([6, 7, -5, 3], index=['d', 'b', 'a', 'c'])
# Retorne os elementos cujo valor seja maior que 0
#
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [ ]:
# Retorne os valores da Serie obj2 multiplicados por 2
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [ ]:
# Retorne os valores da aplicação da função exponencial (exp) a Serie obj2
np.exp(obj2)

### Criando uma Serie com um dicionário

In [ ]:
# Crie uma série como seguinte dicionário
# {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
import numpy as np
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### Criando uma Serie com um dicionário
#### mas especificando seu próprio índice separadamente

In [ ]:
# Crie uma série como seguinte dicionário
# sdata= {'Ohio': 35000, 'Texas': 71000, 'Oregon': None, 'Utah': None}
# mas especificando como índice este vetor ['California', 'Ohio', 'Oregon', 'Texas']
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### Valores Ausentes/Indisponíveis (NA)

In [ ]:
# Retorne quais elementos da Serie anterior (obj4) tem valores NA
pd.isnull(obj4)

In [ ]:
# Retorne quais elementos da Serie anterior (obj4) não tem valores NA
pd.notnull(obj4)

In [ ]:
# Retorne quais valores da Serie anterior (obj4) tem valores NA, usando a função da própria Serie
obj4.isnull()

### Aritmética com Series
#### Automaticamente alinha os valores pelo índice

In [ ]:
# Some as séries criadas nos dois exercícios anteriores (obj3 e obj4)
obj3 + obj4

## DataFrame

In [ ]:
# Crie um data frame a partir dos dados do seguinte dicionário, chame-o de frame
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

### Mostre as primeiras linhas de um DataFrame

In [ ]:
# Acesse as primeiras linhas do dataframe
frame.head()

### Uma coluna pode ser recuperada como uma Serie
#### A notação .nome_coluna não funciona quando o nome da coluna contém espaços
### Acostume-se a usar a notação ['nome_coluna']

In [ ]:
# Acesse a coluna state usando a sintaxe com colchetes
frame['state']

In [ ]:
# Acesse a coluna year com a sintaxe .nome
frame.year

### Colunas podem ser modificadas por atribuição
#### Atribuição de um valor único ou de um array numpy

In [ ]:
# Atribua o valor 16.5 para todas as posições da coluna debt
# Quando a coluna não existir, o pandas cria ela pra você
frame['debt'] = 16.5
frame

In [ ]:
# Atribua o valor de um intervalo de 0 a 5 (float) na coluna debt
frame['debt'] = np.arange(6.)
frame

In [ ]:
# Crie uma nova coluna chamada eastern com o valor True para
#   as linhas cujo estado seja Ohio, e False caso contrário
frame['eastern'] = frame.state == 'Ohio'
frame

### del exclui as colunas (como em um dicionário)

In [ ]:
# Delete a coluna eastern
del frame['eastern']
frame.columns

### Criar um DataFrame a partir de um dicionário de dicionários

In [ ]:
# Crie um Dataframe a partir do seguinte dicionário:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
        'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

### O atributo values retorna um array 2d com os valores

In [ ]:
# retorne um array 2d com os valores do frame3
frame3.values

### Removendo entradas de uma Serie

In [ ]:
# Considere a Serie abaixo
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
# Crie um novo objeto removendo o item c
new_obj = obj.drop('c')
new_obj

In [ ]:
# Retorne a serie sem os itens c e d
obj.drop(['d', 'c'])

### Removendo entradas de um DataFrame
#### Pode-se remover linhas ou colunas

In [ ]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
# Retorne um dataframe sem as colunas Colorado e Ohio
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

### Atribuindo valor num DataFrame

In [ ]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
# Retorne um dataframen contendo True para itens menores que 5, e False caso contrário
data < 5

In [ ]:
# Atribua o valor zero onde os valores do dataframe são menores que 5
data[data < 5] = 0
data

### Filtro e Seleção

In [ ]:
# Selecione as colunas three e one
data[['three', 'one']]

In [ ]:
# Retorne as linhas do dataframe cujo valor da coluna three seja maior que 5
data[data['three'] > 5]

### Seleção com o Operador loc e iloc
#### Seleção de linhas ou linhas e colunas

In [ ]:
# Retorne o subconjunto especificado pela linha colorado e colunas two e three
data.loc['Colorado', ['two', 'three']]

In [ ]:
# Retorne o subconjunto especificado pela linha 2 e colunas 3, 0 e 1
data.iloc[2, [3, 0, 1]]

### Outros exemplos de loc, iloc e []

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
frame

In [ ]:
# Nome(s) de coluna(s)
print(frame.loc['a'])
# Nome(s) de linha(s) e nomes de coluna(s)
print(frame.loc['a', 'pop'])
# Vetor de booleano e nome de coluna
print(frame.loc[[True, True, False, False, False, False], 'pop'])
# Vetor(es) de booleano(s)
print(frame.loc[[True, True, False, False, False, False], [True, True, False]])
print(frame.iloc[0:2, 1]) # Indice(s) da(s) linha(s) e coluna(s)
print(frame['pop']) # Nome(s) da(s) colunas
print(frame[[True, True, False, False, False, False]]) # Vetor de booleano