<a href="https://colab.research.google.com/github/alexlopespereira/mba_enap/blob/main/CD/Atividades_Exercicios/Aula2_Atividades_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2 - Atividades e Exercícios

In [ ]:
import pandas as pd

## Atividade 2.1 - 10 min (em Aula)
### Considere o seguinte dataset

In [ ]:
url='https://docs.google.com/spreadsheets/d/16B0uAFH1hubqvXytaxEkh9J8fXAJugYi/edit?usp=sharing'
url2='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_orders = pd.read_excel(url2, sheet_name='Orders')
df_orders.head()

   ProductID                    ProductName  ...  CategoryID    CategoryName
0         11                 Queso Cabrales  ...           4  Dairy Products
1         42  Singaporean Hokkien Fried Mee  ...           5  Grains/Cereals
2         72         Mozzarella di Giovanni  ...           4  Dairy Products
3         14                           Tofu  ...           7         Produce
4         51          Manjimup Dried Apples  ...           7         Produce

[5 rows x 14 columns]

#### Faça uma tabela dinâmica (pivot table), aqui no Colab, em que nas linhas estejam os vendedores, nas colunas as categorias, nos valores a soma das vendas/faturamento ($) do vendedor na respectiva categoria.
##### Dica: As colunas FirstName e LastName têm o nome dos vendedores. Use uma delas para identificar o vendedor (não há homônimos nessa tabela).

#### Despivote a tabela pivotada que acabou de criar.